@use 'variable.scss';

body{
    width: 100%;
    height: 100%;
    background: variable.$bck;
    font-family: "IBM Plex Mono", monospace;
    overflow-x: hidden;
    position: relative;
}

// datos generales

h3,h2{
    font-family: "Press Start 2P", system-ui;
}

h3{
    font-size: 24px;
}
// contenedor principal

.contenedor_principal{
    width: auto;
}

// header y .pie_de_pagina

.contenedor_encabezado,
.titulo_pie_de_pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .heart_pixel{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 30px;
        }
    }
}

.contenedor_encabezado,
.pie_de_pagina{
    width: 100%;
    text-align: center;
    background: variable.$purple-400;
    padding: 16px 0px;
    color: variable.$bck;
}

// contenido

.contenido{
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    // flex-direction: column-reverse;
    padding: 50px 0px;
    // gap: 70px;
    position: relative;
}

// productos

.bloque_producto{
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:0px 35px;
    flex-direction: column;
    .contenedor_productos{
        width: 750px;
        height: 100vh;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        // flex-direction: row-reverse;
        padding:15px;
        gap:50px 10px;
        overflow-y:scroll;
        box-shadow:-12px 10px 5.8px rgba(0, 0, 0, 0.25);
        .card{
            width: 180px;
            height: 260px;
            background: variable.$purple-400;
            border: 3px solid variable.$black;
            color: variable.$bck;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow:-5px 6px 3.3px rgba(0, 0, 0, 0.25);
            .img-contenedor{
                // width: auto;
                height: 200px;
                background: variable.$bck;
                border: 3px solid variable.$black;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    // height: 100%;
                }
            }
            .precios{
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                i:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .contenedor_productos::-webkit-scrollbar{
        appearance: none;
        // background-color: red;
    }
    .contenedor_productos::-webkit-scrollbar:vertical{
        width: 8px;
        // border-radius: 50px;
    }
    .contenedor_productos::-webkit-scrollbar-thumb {
        background-color: variable.$scroll-color;
        border-radius: 20px;
        // border: 2px solid #f1f2f3;
    }
}

// bloque formulario

.bloque_formulario{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0px 35px;
    [data-formulario]{
        display: flex;
        justify-content: center;
        flex-direction: column;
        // gap: 40px;
        // width: 80%;
        .campos{
            display: inherit;
            flex-direction: column;
            margin: 40px 0px;
            gap: 40px;
            input{
                width: 400px;
                padding: 10px 15px;
                border: 3px solid variable.$blue;
                color: variable.$blue;
                border-radius: 30px;
            }
            input::placeholder{
                color: variable.$blue;
                font-weight: bold;
            }
        }
        .btn{
            display: flex;
            justify-content: space-around;
            color: variable.$bck;
            font-weight: bold;
            button{
                width: 190px;
                height: 60px;
                border: 3px solid variable.$blue;
                border-radius: 15px;
                background: variable.$blue;
                transition: all .3s ease;
                cursor: pointer;
            }
            button:nth-child(2){
                background: none;
                color: variable.$blue;
            }
            button:hover:nth-child(2){
                background: variable.$blue;
                color: variable.$bck;
                
            }
        }
    }
}

//pie de pagina 

.pie_de_pagina{
    padding: 64px 0px;
}


@media (min-width:1980px){
    .bloque_producto{
        width: 100%;
        height: 100%;
    .contenedor_productos {
            width: 100%;
        }
    }
}

// futura version mobile

// @media (max-width:1024px) {
//     .contenido{
//         align-items: center;
//         flex-direction: column-reverse;
//         gap: 70px;
//     }    
//     .bloque_producto{
//         .contenedor_productos{
//             width: 100%;
//             .card{
//                 width: 160px;
//                 height: 230px;
//             }
//         }
//     }
// }